<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.reactlibrary">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  
  <application>
    <activity android:name="com.paytm.pgsdk.PaytmPGActivity" 
      android:screenOrientation="portrait"
      android:configChanges="keyboardHidden|orientation|keyboard" /> 
  </application>
</manifest>
  
